
        body {
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          height: 100vh;
          width: 100%;
          background-color: #F7F3E9;
          font-family: Arial, Helvetica, sans-serif;
          color: rgba(13, 2, 65, 0.801);
      }

      p {
          font-family: 'Times New Roman', Times, serif;
          color: rgba(13, 2, 65, 0.801);
          font-size: 28px;
          margin-bottom: -1.8px;
      }

      h1,
      h2 {
          color: rgba(13, 2, 65);
          font-family: 'Times New Roman', Times, serif;
          text-align: left;
          font-size: 44px;
          margin-left: 10%;
      }

      .container {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }

      .navigation {
          display: block;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 50%;
          margin-left: 10%;
      }

      .range-column {
          display: inline-flex;
          flex-direction: column;
          padding-left: 40px;
      }

      nav menuitem {
          position: relative;
          display: block;
          padding-top: 10px;
          cursor: pointer;
      }

      nav menuitem>menu {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          max-height: 50vh;
          overflow-y: auto;
          background-color: #FFF;
          border: 1px solid rgba(13, 2, 65);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          padding: 15px;
          z-index: 1;
      }

      nav menuitem:hover>menu {
          display: block;
      }

      nav a {
          background: rgba(13, 2, 65);
          color: #FFF;
          display: block;
          margin: 5px 0;
          padding: 10px;
          border-radius: 3px;
          text-decoration: none;
      }

      nav a:hover {
          background: rgba(0, 0, 0, 0.2);
      }

      .identifiant {
          background-color: white;
          color: rgb(2, 3, 65);
          display: block;
          padding: 5px;
          text-decoration: none;
      }

      .identifiant:hover {
          background-color: rgba(13, 2, 65, 0.1);
      }

      /* Style pour l'élément audio */
      #audioPlayer {
          display:none;
          width:50em;
      }

      .cadre-central {
          position: absolute;
          top: 45%;
          left: 70%;
          transform: translate(-50%, -50%);
          width: 50%;
          height: 75%;
          border: 2px solid black;
          box-sizing: border-box;
          background-color: #F7F3E9;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      /* Style pour l'aperçu d'image */
      .image-preview {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          margin-bottom: 20px;
      }

      .image-preview img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: auto;
      }

      #themes{
        padding: 20px;
      }
   

      #identifiantSelectionne {
        font-size: 22px;
      }

      .watermark {
  position: absolute;
  left: 1%;
  bottom: 8%;
  color: rgba(13, 2, 65, 0.801);
  font-size: 13px;
  font-family: Arial, sans-serif;
  z-index: 4;
}

.watermark img {
  margin-right: 5px;
  max-width: 25px;
  max-height: 30px;
}

.reload-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(13, 2, 65);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}